# Environment Configuration
DATABASE_URL=postgresql://flutter_db_gnje_user:u78MtRZFQZS6WBZckXmETjsPka8QCbtZ@dpg-d9i9j558nd3s739h8it0-a/flutter_db_gnje
SECRET_KEY=kataria-secret-key-super-secure-change-in-prod-2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
